body {
  background-color: powderblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  background-color: rgba(255, 255, 255, 0.88);
  margin: 15px;
  padding: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  height: 850px;
}

.row .strong {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-left: 40px;
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 18px;
  /*background-color: #fff;*/
  padding: 0px 50px 50px 10px;
}

.grid-container > div {
  /*background-color: $bg-color;*/
  text-align: left;
  padding: 66px 8px;
  font-size: 16px;
  border-radius: 25px;
}

.chairs {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  background-color: rgba(220, 220, 220, 0.7);
}

.chairs p {
  position: absolute;
  margin-top: 180px;
  margin-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.chairs p .number {
  color: rgba(128, 128, 128, 0.6);
  margin-left: 5px;
}

.tables {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  background-color: rgba(255, 165, 0, 0.2);
}

.tables p {
  position: absolute;
  margin-top: 20px;
  margin-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.tables p .number {
  color: rgba(128, 128, 128, 0.6);
  margin-left: 5px;
}

.bed {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  background-color: rgba(175, 238, 238, 0.7);
}

.bed p {
  position: absolute;
  margin-top: 20px;
  margin-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.bed p .number {
  color: rgba(128, 128, 128, 0.6);
  margin-left: 5px;
}

.light {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  background-color: rgba(221, 160, 221, 0.5);
}

.light p {
  position: absolute;
  margin-top: 20px;
  margin-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.light p .number {
  color: rgba(128, 128, 128, 0.6);
  margin-left: 5px;
}

.wardrobe {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / span 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  background-color: rgba(165, 42, 42, 0.25);
}

.wardrobe p {
  position: absolute;
  margin-top: 20px;
  margin-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.wardrobe p .number {
  color: rgba(128, 128, 128, 0.6);
  margin-left: 5px;
}

.decoration {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / span 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  background-color: rgba(176, 176, 243, 0.4);
}

.decoration p {
  position: absolute;
  margin-top: 20px;
  margin-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.decoration p .number {
  color: rgba(128, 128, 128, 0.6);
  margin-left: 5px;
}

/*list area between both grid containers*/
.kels ul {
  list-style: none;
  margin-right: 20px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.kels ul li {
  float: left;
  padding-right: 20px;
}

.kels ul li a {
  text-decoration: none;
}

.kels ul li a #see-more {
  position: absolute;
  padding-left: 150px;
}

#my-fav {
  color: rgba(128, 128, 128, 0.65);
}

#see-more {
  position: absolute;
  margin-left: 320px;
  font-size: small;
  top: 560px;
}

/*second grid container using flex*/
.grid-container-2 {
  clear: both;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.grid-container-2 .odger {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, rgba(220, 220, 220, 0.3)), color-stop(45%, #fff));
  background: linear-gradient(180deg, rgba(220, 220, 220, 0.3) 55%, #fff 45%);
  width: 23.1%;
  height: 200px;
  margin-right: 15px;
  margin-left: 18px;
  border-radius: 15px;
}

.grid-container-2 .odger p {
  position: absolute;
  margin-left: 25px;
  margin-top: 10%;
}

.grid-container-2 .odger p .digits {
  font-size: 12px;
}

.grid-container-2 .tossberg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, rgba(220, 220, 220, 0.3)), color-stop(45%, #fff));
  background: linear-gradient(180deg, rgba(220, 220, 220, 0.3) 55%, #fff 45%);
  width: 23.1%;
  height: 200px;
  margin-right: 15px;
  border-radius: 15px;
}

.grid-container-2 .tossberg p {
  position: absolute;
  margin-left: 25px;
  margin-top: 10%;
}

.grid-container-2 .tossberg p .digits {
  font-size: 12px;
}

.grid-container-2 .leifarne {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, rgba(220, 220, 220, 0.3)), color-stop(45%, #fff));
  background: linear-gradient(180deg, rgba(220, 220, 220, 0.3) 55%, #fff 45%);
  width: 23.1%;
  height: 200px;
  margin-right: 15px;
  border-radius: 15px;
}

.grid-container-2 .leifarne p {
  position: absolute;
  margin-left: 25px;
  margin-top: 10%;
}

.grid-container-2 .leifarne p .digits {
  font-size: 12px;
}

.grid-container-2 .tossberg-2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, rgba(220, 220, 220, 0.3)), color-stop(45%, #fff));
  background: linear-gradient(180deg, rgba(220, 220, 220, 0.3) 55%, #fff 45%);
  width: 23.1%;
  height: 200px;
  margin-right: 0px;
  border-radius: 15px;
}

.grid-container-2 .tossberg-2 p {
  position: absolute;
  margin-left: 25px;
  margin-top: 10%;
}

.grid-container-2 .tossberg-2 p .digits {
  font-size: 12px;
}

/*the blue side bar*/
.aside {
  background-color: rgba(88, 88, 243, 0.94);
  padding: 15px 15px 70px 23px;
  border-radius: 60px;
}

.aside #box-1 {
  background-color: #7272f8;
  padding: 0 30px 0 0;
  border: 2px solid #7272f8;
  margin-top: 120px;
  margin-left: 3.2%;
  margin-right: 3.2%;
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
  height: 90px;
}

.aside #box-1 .toss {
  position: absolute;
  margin-top: -63px;
  margin-left: 140px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
}

.aside #box-1 .toss .num {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.aside #box-1 .toss .num #gray {
  color: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
}

.aside #box-1 #box-1-1 {
  position: relative;
  width: 31%;
  height: 100%;
  margin-left: 0;
  background: #fff;
  border-radius: 20px;
}

.aside #box-2 {
  background-color: #7272f8;
  padding: 0 30px 0 0;
  border: 2px solid #7272f8;
  margin-top: 20px;
  margin-left: 3.2%;
  margin-right: 3.2%;
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
  height: 90px;
}

.aside #box-2 .chaise {
  position: absolute;
  margin-top: -63px;
  margin-left: 140px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
}

.aside #box-2 .chaise .num {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.aside #box-2 .chaise .num #gray {
  color: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
}

.aside #box-2 .alice {
  position: absolute;
  margin-top: -63px;
  margin-left: 140px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
}

.aside #box-2 .alice .num {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.aside #box-2 .alice .num #gray {
  color: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
}

.aside #box-2 #box-1-1 {
  position: relative;
  width: 31%;
  height: 100%;
  margin-left: 0;
  background: #fff;
  border-radius: 20px;
}

.aside #box-4 {
  background-color: #7272f8;
  padding: 10px;
  border: 2px solid #7272f8;
  margin-top: 40px;
  margin-left: 16px;
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  overflow: hidden;
  width: 82%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.aside #box-4 table {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
}

.aside #box-4 table td {
  padding: 10px;
}

.aside #box-4 table #t-3 td {
  border-bottom: 1px solid rgba(226, 224, 224, 0.2);
  padding-bottom: 25px;
}

.aside #box-4 table #link {
  color: rgba(255, 255, 255, 0.35);
  margin-left: 10px;
}

.aside #box-4 table #t-4 td {
  font-size: 150%;
}
/*# sourceMappingURL=other.css.map */